<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Azure Cloud Storage Account-->
    <add key="accountName" value="aegcognizant" />
    <add key="accountKey" value="cGF7oxbSPRkf8Q107ba8Q86YTeAmbF/qzRWe0Ye+efhAg0Tm0MctKGNeY0EF2wf0C581IKNlpKumIEOChu6/Yw==" />

    <!-- Blob Storage-->
    <add key="containerName" value="containertest" />
    <add key="blobFile1To" value="folder1/folder2/cloudFileTest.txt" />
    <add key="blobFile2To" value="cloudFileTest.txt" />
    <add key="appendFileTo" value="appendFileTest.txt" />
    <add key="pageFileTo" value="pageFileTest.txt" />
    <add key="blobFileFrom" value="C:\Users\attil\OneDrive\Jobs\Cognizant\Courses\Azure for developer\Demo\AzureStorageDemo\AzureStorageDemo\DemoFiles\Hello World.txt" />
    <add key="pageFileFrom" value="C:\Users\attil\OneDrive\Jobs\Cognizant\Courses\Azure for developer\Demo\AzureStorageDemo\AzureStorageDemo\DemoFiles\Page Storage File.txt" />
    <add key="newText" value="===&gt; This is the new text to use in the demo! &lt;===" />


    <!-- Table Storage-->
    <add key="tableName" value="tabletest" />
    <add key="tablePartition1" value="partition1" />
    <add key="tablePartition2" value="partition2" />
    
    <!-- Queue Storage-->
    <add key="queueName" value="testqueue" />
    
    <!-- File Storage -->
    <add key="shareName" value="sharetest" />
    <add key="folderName" value="folderTest" />
    <add key="fileName" value="MyHelloWorld.txt" />
    <add key="filePath" value="C:\Users\attil\OneDrive\Jobs\Cognizant\Courses\Azure for developer\Demo\AzureStorageDemo\AzureStorageDemo\DemoFiles\Hello World.txt" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>